test
bin
.gitignore
.gitattributes
.jshintignore
.jshintrc

lib-cov
*.seed
*.log
*.dat
*.out
*.pid
*.gz
*~
.idea
*.sublime-project
*.sublime-workspace
*.orig

pids
logs
results

npm-debug.log

coverage
coverageReport.html

node_modules
